.rates{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    width: 80%;
    height: 90%;
}

.container{
    position: relative;
    width: 90%;
    height: 90%;
    background-color: #eaeaea;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 100%;
    align-items: center;
}

.info{
    width: 80%;
    text-align: justify;
}

.info p {
    color: #4e4e4e;
}

.comunicate{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.comunicate img {
    width: 10%;
}

.comunicate div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.comunicate a{
    text-decoration: none;
    color: #4e4e4e;
}

.comunicate p{
    text-decoration: none;
    color: #4e4e4e;
}

.formContainer{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.form{
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15%;
    position: relative;
    align-items: flex-start;
}

.labelError{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35%;
    gap: 1%;
}

.formInput{
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
}

.formInput input {
    width: 100%;
    height: 50%;
}

.labelError label {
    position: relative;
    height: 100%;
}

.labelError p {
    margin: 0;
    position: relative;
    height: 100%;
    font-size: 1em;
    color: rgb(255, 63, 63);
}

.commentsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

textarea {
    width: 100%;
}

.buttonDiv{
    position: absolute;
    bottom: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 5%;
    background-color: white;
    border-radius: 10px;
    transition: .1s ease-out;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: solid;
    /* border-bottom-color: #7a2f2f; */
    border-bottom-color:#B84644;
    border-bottom-width: 0;
}

.buttonDiv:hover{
    background-position: left;
    border-bottom-width: .2em;
    /* color: #7a2f2f; */
    color: #B84644;
}

.buttonDiv button {
    border: none;
    font: arial;
    font-size: 100%;
    font-weight: 600;
    padding-left: .2%;
    padding-right: .2%;
    color: black;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

