.home {
  position: relative;
  width: 80%;
  height: 200%;
  left: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.carousel {
  position: relative;
  top: 1%;
  width: 95%;
  height: 30%;
}

.inversiones {
  position: relative;
  /* background-color: aqua; */
  width: 80%;
  height: 20%;
  margin-top: 2%;
}

.inversiones article {
  height: 100%;
  text-align: justify;
  color: #4a4a4a;
}

.inversiones h2 {
  color: #7a2f2f;
}

.inversionesImg {
  width: 25%;
  height: auto;
  border-radius: 100%;
  shape-outside: circle(45%);
  margin-right: 2em;
  shape-margin: 1.5em;
  float: left;
  border: 2px solid rgb(154, 5, 5);
  outline: 2px solid black;
}

.tasaciones {
  position: relative;
  /* background-color: aqua; */
  width: 80%;
  height: 20%;
  margin-top: 2%;
}

.tasaciones p {
  height: 100%;
  text-align: justify;
  color: #4a4a4a;

}

.tasaciones h2 {
  text-align: right;
  color: #7a2f2f;
}

.tasacionesImg {
  width: 25%;
  height: auto;
  border-radius: 100%;
  shape-outside: circle(45%);
  shape-margin: 1.2em;
  margin-left: 2em;
  float: right;
  border: 2px solid rgb(154, 5, 5);
  outline: 2px solid black;
}

.servicios {
  position: relative;
  /* background-color: aqua; */
  width: 80%;
  height: 20%;
  margin-top: 2%;
}

.servicios article {
  height: 100%;
  text-align: justify;
  color: #4a4a4a;
}

.servicios h2 {
  color: #7a2f2f;
}

.serviciosImg {
  width: 25%;
  height: auto;
  border-radius: 100%;
  shape-outside: circle(45%);
  margin-right: 2em;
  shape-margin: 1.5em;
  float: left;
  border: 2px solid rgb(154, 5, 5);
  outline: 2px solid black;
}

@media screen and (max-width:45em) {
  .home {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow-x: unset;
  }

  .inversiones{
    position: relative;
    /* background-color: aqua; */
    width: 90%;
    height: 50%;
    margin-top: 2%;
  }

.inversiones article {
    height: 100%;
    text-align: justify;
    color: #4a4a4a;
}

.inversiones h2 {
  color: #7a2f2f;
}

.inversionesImg{
    width: 25%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(45%);
    margin-right: 2em;
    shape-margin: 1.5em;
    float: left;
    border: 2px solid rgb(154, 5, 5);
    outline: 2px solid black;
}

.tasaciones{
    position: relative;
    /* background-color: aqua; */
    width: 80%;
    height: 55%;
    margin-top: 2%;
  }

.tasaciones p {
    height: 100%;
    text-align: justify;
    color: #4a4a4a;
    
}
.tasaciones h2 {
  text-align: right;
  color: #7a2f2f;
}

.tasacionesImg{
    width: 25%;
    height: auto;
    border-radius: 100%;
    shape-outside: circle(45%);
    shape-margin: 1.2em;
    margin-left: 2em;
    float: right;
    border: 2px solid rgb(154, 5, 5);
    outline: 2px solid black;
}

.servicios{
  position: relative;
  /* background-color: aqua; */
  width: 80%;
  height: 45%;
  margin-top: 2%;
}

.servicios article {
  height: 100%;
  text-align: justify;
  color: #4a4a4a;
}

.servicios h2 {
  color: #7a2f2f;
}

.serviciosImg{
  width: 25%;
  height: auto;
  border-radius: 100%;
  shape-outside: circle(45%);
  margin-right: 2em;
  shape-margin: 1.5em;
  float: left;
  border: 2px solid rgb(154, 5, 5);
    outline: 2px solid black;
}
}